
/* treeview */
/*====================================================
	treeview
====================================================*/
.mytreeview {

}

.block-pre {
    display: block;
    padding: 5.5px;
    margin: 0 0 10px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    line-height: 1.65em;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #E6FFFD;
    border: 1px solid #ccc;
    border-radius: 4px
}

a {
    cursor: pointer;
    cursor: hand;
}

.row-margin-bottom {
    margin-bottom: 10px;
}

.row-margin-top {
    margin-top: 10px;
}

/* common */
/*====================================================
	common styles
====================================================*/
html, body {
    color: #505050;
    line-height: 1.75em;
    background: #f5f5f5;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.table-small-font {
    font-size: 12px;
}

/* header */
/*====================================================
	header
====================================================*/
.main-header {
    text-align: center;
    background-color: #fff;
    padding: 42px 0;
}

.main-header .branding {
    font-size: 3.5em;
    color: #303030;
}

.main-header .branding:hover {
    text-decoration: none;
}

.main-header .branding img {
    max-width: 100%;
}

.main-header h1 {
    color: #fff;
}

.btn-doc {
    position: relative;
    bottom: -40px;
    border: 1px solid #f1362f;
    background-color: transparent;
}

/*@media only screen and (max-width: 550px) {*/
/*.btn-doc {*/
/*display: block;*/
/*width: 50%;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*margin-top: 10px;*/
/*}*/
/*}*/

.home-template .main-header {
    padding-top: 62px;
    padding-bottom: 62px;
    background-repeat: no-repeat;
    background-position: center 20%;
    -webkit-background-size: cover;
    background-size: cover;
}

/* main-navigation */
.main-navigation {
    text-align: center;
    background: #205081;
    border-top: 1px solid #ebebeb;
    margin-bottom: 15px;
    border-bottom: 2px solid #e1e1e1;
}

.main-navigation .menu {
    padding: 0;
    margin: 0;
}

.main-navigation .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.main-navigation .menu li.nav-current {
    border-bottom: 2px solid #f4645f;
    margin-bottom: -2px;
}

.main-navigation .menu li a {
    color: #FFFFFF;
    line-height: 4em;
    display: block;
    padding: 0 21px;
}

.main-navigation .menu li button {
    color: #505050;
    line-height: 3em;
    display: block;
    padding: 0 21px;
    margin: 0.5em 0 0.5em;
}

.main-navigation .menu li button span {
    margin: 0 0 0 0.5em;
}

.main-navigation .menu li:hover > a {
    color: #f4645f;
    text-decoration: none;
}

.main-navigation .menu li ul {
    visibility: hidden;
    background: #ffffff;
    text-align: left;
    padding: 7px 0px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 120%;
    width: 200px;
    z-index: 999;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-navigation .menu li ul li {
    display: block;
    margin: 0;
}

.main-navigation .menu li ul li a {
    line-height: 2.5em;
    color: #505050;
}

.main-navigation .menu li ul:hover > a {
    color: #f4645f;
}

.main-navigation .menu li:hover ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
}

/*@media (max-width: 550px) {*/
/*.main-navigation {*/
/*text-align: left;*/
/*}*/

/*.main-navigation .menu li {*/
/*display: block;*/
/*}*/

/*.main-navigation .menu li:hover > a {*/
/*color: #f4645f;*/
/*text-decoration: none;*/
/*}*/

/*.main-navigation .menu li ul {*/
/*visibility: visible;*/
/*padding: 0px 0px 0px 20px;*/
/*margin: 0;*/
/*position: relative;*/
/*top: 0;*/
/*width: 100%;*/
/*opacity: 1;*/
/*filter: alpha(opacity=100);*/
/*}*/
/*}*/

/* navbar */
.navbar-header {
    text-align: center;
}

.navbar-header i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer;
}

/*@media (min-width: 550px) {*/
/*.nav-toggle-button {*/
/*display: none;*/
/*}*/
/*}*/

/* login form registration form*/
.form-box {
    margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 5px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #4aaf51;
}

/* footer */
/*====================================================
	footer
====================================================*/
.bs-docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 10px
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px
}

.bs-docs-footer-links li:first-child {
    padding-left: 0
}

@media (min-width: 768px) {
    .bs-docs-footer p {
        margin-bottom: 0
    }
}


.status {
    color: green;
    font-weight: bold;
}

.status1 {
    color: red;
}


/*code forces*/
.sample-test .input,.output{
    border-style: solid;
    border-width: 1px;
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
}
.sample-test .output{
    margin-bottom: 20px;
    margin-top: -3px;
}
.sample-test .output .title{
    border-bottom: dashed;
    border-width: 1px;
    font-weight: bold;
}
.sample-test .input .title{
    border-bottom: dashed;
    border-width: 1px;
    font-weight: bold;
}
