

<link rel='stylesheet' type='text/css' href='common/Style/css/bootstrap.min.css'/>
<link rel="stylesheet" type="text/css" href="common/Style/css/bootstrap-table.min.css">
<link rel='stylesheet' type='text/css' href='common/Style/css/font-awesome.min.css'/>
<link rel='stylesheet' type='text/css' href='common/Style/css/common.css'/>
<link rel='stylesheet' type='text/css' href='common/Style/css/bootstrap-treeview.min.css'/>
<link href="common/prettify/prettify.css" type="text/css" rel="stylesheet" />

<script src='common/Script/jquery-1.12.0.min.js' type='text/javascript'></script>
<script src='common/Script/bootstrap.min.js' type='text/javascript'></script>
<script src="common/Script/bootstrap-table.min.js" type="text/javascript"></script>
<script src="common/Script/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="common/Script/jquery.metadata.js" type="text/javascript"></script>
<script src="common/Script/jquery.md5.js" type="text/javascript"></script>
<script src="common/Script/messages_zh.min.js" type="text/javascript"></script>
<script src='common/Script/common.js' type='text/javascript'></script>
<script src='common/Script/bootstrap-treeview.min.js' type='text/javascript'></script>
<script src="common/prettify/prettify.js" type="text/javascript"></script>