
<link rel='stylesheet' type='text/css' href='common/style/css/bootstrap.min.css'/>
<link rel='stylesheet' type='text/css' href='common/bootstrap3-editable/css/bootstrap-editable.css'/>
<link rel='stylesheet' type='text/css' href='common/style/css/font-awesome.min.css'/>
<link rel='stylesheet' type='text/css' href='common/style/css/bootstrap-table.min.css'/>
<link rel='stylesheet' type='text/css' href='common/style/css/buttons.css'/>
<link rel='stylesheet' type='text/css' href='common/style/css/square/green.css'/>
<link rel='stylesheet' type='text/css' href='common/style/css/common.css'/>

<script src='common/script/jquery-1.12.0.min.js' type='text/javascript'></script>
<script src='common/script/bootstrap.min.js' type='text/javascript'></script>
<!-- script src="common/Script/jquery-migrate-1.2.1.js" type="text/javascript"></script -->
<script src="common/script/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
<script src='common/script/messages_zh.min.js' type='text/javascript'></script>
<script src='common/script/icheck.min.js' type='text/javascript'></script>
<script src='common/script/jquery.md5.js' type='text/javascript'></script>
<script src='common/script/bootstrap-table.js' type='text/javascript'></script>
<script src='common/script/bootstrap-table-editable.js' type='text/javascript'></script>
<script src='common/bootstrap3-editable/js/bootstrap-editable.js' type='text/javascript'></script>
<script src='common/script/common.js' type='text/javascript'></script>



